
		<div class="chat">
            <div class="chat-header clearfix">
                <div class="row">
                    <div class="col-lg-6">
                 

                        {% for d in transporterData %}
                        <a href="javascript:void(0);" >
                            <img src="{{d.profilepic}}" alt="avatar" style="    border-radius: 5px;width: 45px;
                            border-radius: 50%;
                            height: 40px;">
                           
                        </a>
                        <div class="chat-about">
                            <h6 class="m-b-0">{{d.firstname | title}} {{d.lastname}}</h6>
                         
                        </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
            <div class="chat-history">
                <ul class="m-b-0 h-300px" style="overflow:scroll">



                {% if data %}
                
                
                
            
                {% for d in data %}

                    {% if d.senderType == "USER" %}
                    <li class="clearfix">
                        <div class="message-data text-right">
                            <span class="message-data-time">{{d.created}}</span>
                        </div>
                        <div class="message other-message float-right"> {{d.message}}</div>
                    </li>
                    {% endif %}
                    
                    {% if d.senderType == "TRANSPORTER" %}
                    <li class="clearfix">
                        <div class="message-data">
                            <span class="message-data-time">{{d.created}}</span>
                        </div>
                        <div class="message my-message">{{d.message}}</div>
                    </li>
                    {% endif %}

                        {% endfor %}
                {% else %}

                    <h3> No Chats avaliable</h3>
    
                    {% endif %}




                </ul>
            </div>

        </div>