{% include 'header.html' %}
<div class="content  d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-4  subheader-solid " id="kt_subheader">
        <div class=" container-fluid  d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center flex-wrap mr-2">

                <!--begin::Page Title-->
                <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">
                    Help And Support</h5>
                <!--end::Page Title-->

                <!--begin::Actions-->
                <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-4 bg-gray-200">

                </div>
                <span class="text-muted font-weight-bold mr-4">  Inquiries </span>
            </div>
            <!--end::Info-->
        </div>
    </div>
    <!--end::Subheader-->

    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class=" container ">

            <div class="card card-custom gutter-b">
                <div class="card-header flex-wrap border-0 pt-6 pb-0">
                    <div class="card-title">
                        <h3 class="card-label">
                            All inquiries

                        </h3>
                    </div>

                </div>

                <div class="card-body">
                    <!--begin: Datatable-->
                    <table class="table table-separate table-head-custom table-checkable" id="metarial">
                        <thead>

                         
                            <tr>
                                <th>#</th>
                                <th>profilePic</th>
                                <th>Fullname</th>
                                <th>Subject</th>
                                <th>Descriptions</th>
                          
                            </tr>
                        </thead>


                        <tbody>
                            {% for data in mainData %}
                            <tr>
                                <th>{{forloop.counter}}</th>
                                <th>
                                    <span class="symbol  symbol-light-success">
                                        <img src="static/media/{{data.profilepic}}" style="width: 60px;border-radius: 10px;">
                                    </span>
                                </th>
                                <th>{{data.firstname|title}}&nbsp;{{data.lastname |title}}</th>
                                <th>{{data.subject}}</th>
                                <th>{{data.description}}</th>          
                            </tr>
                            {% endfor%}
                        
                        </tbody>



                    </table>
                    <!--end: Datatable-->
                </div>
            </div>

        </div>

    </div>

</div>

{% include "footer.html" %}
<script src="static/assets/plugins/custom/datatables/datatables.bundle.js"></script>
<script src="static/assets/js/pages/crud/datatables/basic/scrollable.js"></script>

<script language="javascript">
    $(document).ready(function () {
        $('#metarial').dataTable({
       
        });
    });
</script>