{% include 'header.html' %}
<div class="content  d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-4  subheader-solid " id="kt_subheader">
        <div class=" container-fluid  d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center flex-wrap mr-2">

                <!--begin::Page Title-->
                <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">
                    User </h5>
                <!--end::Page Title-->

                <!--begin::Actions-->
                <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-4 bg-gray-200">

                </div>
                <span class="text-muted font-weight-bold mr-4"> All User</span>
            </div>
            <!--end::Info-->
        </div>
    </div>
    <!--end::Subheader-->

    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class=" container ">

            <div class="card card-custom gutter-b">
                <div class="card-header flex-wrap border-0 pt-6 pb-0">
                    <div class="card-title">
                        <h3 class="card-label">
                            View Users

                        </h3>
                    </div>

                </div>

                <div class="card-body">
                    <!--begin: Datatable-->
                    <table class="table table-separate table-head-custom table-checkable" id="metarial">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>profilePic</th>
                                <th>Fullname</th>
                                <th>number</th>
                                <th>email</th>
                                <th>User Type</th>
                                <th>actions</th>
                            </tr>
                        </thead>


                        <tbody>
                      

                            {% for data in mainData %}

                            <tr>
                                <th>{{forloop.counter}}</th>
                                <th>
                                    {% load post_tag %}
                             
                                    <a href="View-User/{{ data.id| encoder }}" class="symbol symbol-lg-35 symbol-25 symbol-light-success">
                                        <img src="{{data.profilepic}}" style="width: 40px;border-radius: 10px;">
                                    </a>
                                </th>
                                <th>{{data.firstname | title}} {{data.lastname| title}}</th>
                                <th>{{data.number}}</th>
                                <th>{{data.email}}</th>

                                {% if data.type == 0 %}
                                <th>
                                    <span
                                        class="label label-lg font-weight-bold label-light-primary label-inline">Customer</span>
                                </th>
                                {% elif data.type == 1 %}


                                <th>
                                    <span
                                        class="label label-lg font-weight-bold label-light-info label-inline">Transporter</span>
                                </th>

                                {% endif %}


                                <th>
                                    {% if  data.status == 0 %} 

									<button onclick="block({{ data.id }})"
										style="width: 30px;height: 30px; margin-right:5px;" title="block"
										data-toggle="tooltip" data-theme="dark" data-placement="right"
										id="unlock"
										class="btn btn-icon btn-warning"><i class="fa fa-lock"></i></button>
										{% endif %}

									{% if  data.status == 1 %} 

                                      <button onclick="block({{ data.id }})"
									id="lock"
                                    style="width: 30px;height: 30px; margin-right:5px;" title="Unblock"
                                    data-toggle="tooltip" data-theme="dark" data-placement="right"
                                    class="btn btn-icon btn-primary"><i class="fa fa-unlock"></i></button>


									{% endif %}



                                    <a href="View-User/{{ data.id| encoder }}" style="width:
                                        30px;height: 30px;margin-right:5px;" title="Edit" data-toggle="tooltip"
                                        data-theme="dark" data-placement="right" class="btn btn-icon
                                        btn-success"><i class="fa fa-edit"></i></a>

                                    <button onclick="delet('{{data.id}}')" style="width: 30px;height:
                                        30px;" title="Delete" data-toggle="tooltip" data-theme="dark"
                                        data-placement="right" class="btn btn-icon btn-danger"><i class="fas
                                            fa-trash"></i></button>




                                </th>
                            </tr>
                            {% endfor %}

                        </tbody>



                    </table>
                    <!--end: Datatable-->
                </div>
            </div>

        </div>

    </div>

</div>

{% include "footer.html" %}
<script src="static/assets/plugins/custom/datatables/datatables.bundle.js"></script>
<script src="static/assets/js/pages/crud/datatables/basic/scrollable.js"></script>

<script language="javascript">
    $(document).ready(function () {
        $('#metarial').dataTable({
       
        });
    });


    function block(CustomerId){


        data= {'customersId':CustomerId}
		jsonText = JSON.stringify(data);

		$.ajax({
			url: '/Block_UnBlock_User/',
			method:"POST",
			data: {
				'csrfmiddlewaretoken': '{{ csrf_token }}',
				'data':jsonText
			},
			success: function(result) {

                    if(result==3){
                        toastr.warning("Somthing Went Wrong");
                    }if(result==2){
                  toastr.success("unblock");
						 window.location.reload()
                    }if(result==1){
                        toastr.success("block"); 
						 window.location.reload()

                         }
		},
		error:function(er){
			toastr.error("failed");
		}
		}); 
}

function delet(CustomerId){

			data= {'customersId':CustomerId}
			jsonText = JSON.stringify(data);
	
			$.ajax({
				url: '/delete_User/',
				method:"POST",
				data: {
					'csrfmiddlewaretoken': '{{ csrf_token }}',
					'data':jsonText
				},
				success: function(result) {
	
						if(result==3){
							toastr.warning("Somthing Went Wrong");
						}if(result==2){
						
							window.location.reload()
						}if(result==1){
					
							window.location.reload()
	
							 }
			},
			error:function(er){
				toastr.error("failed");
			}
			}); 



}

</script>