{% include 'header.html' %}
<style>
	.form-control {

		width: 100% !important;
	}
</style>

<div class="content  d-flex flex-column flex-column-fluid" id="kt_content">
	<!--begin::Subheader-->
	<div class="subheader py-2 py-lg-4  subheader-solid " id="kt_subheader">
		<div class=" container-fluid  d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
			<!--begin::Info-->
			<div class="d-flex align-items-center flex-wrap mr-2">

				<!--begin::Page Title-->
				<h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">
					Users</h5>
				<!--end::Page Title-->

				<!--begin::Actions-->
				<div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-4 bg-gray-200">

				</div>
				<span class="text-muted font-weight-bold mr-4"> User Profile</span>
			</div>
			<!--end::Info-->
		</div>
	</div>
	<!--end::Subheader-->
	{% for user in mainData %}
	<!--begin::Entry-->
	<div class="d-flex flex-column-fluid">
		<!--begin::Container-->
		<div class=" container ">

			<div class="card card-custom gutter-b">
				<div class="card-header flex-wrap border-0 pt-6 pb-0">
					<div class="card-title">
						<h3 class="card-label">
							User Profile

						</h3>
					</div>

				</div>

				<div class="card-body">
					<ul class="nav nav-tabs nav-tabs-line">
						<li class="nav-item">
							<a class="nav-link active" data-toggle="tab" href="#kt_tab_pane_1">Profile</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#kt_tab_pane_2">Orders</a>
						</li>

						<!--<li class="nav-item">-->
						<!--	<a class="nav-link " data-toggle="tab" href="#kt_tab_pane_4" tabindex="-1"-->
						<!--		aria-disabled="true">Disabled</a>-->
						<!--</li>-->
					</ul>
					<div class="tab-content mt-5" id="myTabContent">
						<div class="tab-pane fade show active" id="kt_tab_pane_1" role="tabpanel"
							aria-labelledby="kt_tab_pane_2">
							<form class="form" id="form" method="post" enctype="multipart/form-data" action="/Users/">
								{% csrf_token %}


								<div class="container">


									<div class="form-group row">
										<label class="col-form-label text-right col-lg-3 col-sm-12">Profile
											Picture</label>

										<div class="col-lg-6 col-md-9 col-sm-12">
											<div class="image-input image-input-outline" id="kt_image_1">
												<div class="image-input-wrapper"
													style="background-image: url( '{{user.profilepic}}')  ;   background-position: center;">
												</div>


												<input type="hidden" name="profile_avatar_remove" />
												</label>
												<span
													class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
													data-action="cancel" data-toggle="tooltip" title="Cancel avatar">
													<i class="ki ki-bold-close icon-xs text-muted"></i>
												</span>
											</div>
										</div>
									</div>



									<div class="form-group row">
										<label class="col-form-label text-right col-lg-3 col-sm-12">Full
											Name</label>
										<div class="col-lg-3 col-md-9 col-sm-12">
											<input type="text" name="firstName" class="form-control form-control-lg"
												placeholder="First Name" value="{{user.firstname}}" readonly>
										</div>
										<div class="col-lg-3 col-md-9 col-sm-12">
											<input type="text" name="lastName" class="form-control form-control-lg"
												placeholder="Last Name" value="{{user.lastname}}" readonly>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-form-label text-right col-lg-3 col-sm-12">Email</label>
										<div class="col-lg-6 col-md-9 col-sm-12">

											<input type="text" name="email" class="form-control form-control-lg"
												placeholder="Email" value="{{user.email}}" readonly>

										</div>
									</div>
									<div class="form-group row">
										<label class="col-form-label text-right col-lg-3 col-sm-12">Mobile
											Number</label>
										<div class="col-lg-6 col-md-9 col-sm-12">

											<input type="text" name="mobileNumber" class="form-control form-control-lg"
												placeholder="Mobile Number" value="{{user.number}}" readonly>
										</div>
									</div>


									{% if user.document != None %}
									<div class="form-group row">
										<label class="col-form-label text-right col-lg-3 col-sm-12">Uploader Id</label>
										<div class="col-lg-6 col-md-9 col-sm-12">



											<img src="{{user.document}}" style="width: 40%">


										</div>



									</div>
									<div class="form-group row">
										<label class="col-form-label text-right col-lg-3 col-sm-12">Document
											Actions</label>
										<a href="{{user.document}}"
											style="width: 30px;height: 30px; margin-right:5px;" class="btn btn-icon
				btn-success" download title="Download Document" data-toggle="tooltip" data-theme="dark" data-placement="right"><i
												class="fa fa-download" aria-hidden="true"></i>
										</a>

										<button onclick="WatchDocument('{{user.document}}')" style="width: 30px;height:
					30px;" title="Watch Document" data-toggle="tooltip" data-theme="dark" type="button" data-placement="right"
											class="btn btn-icon btn-info">
											<i class="fas
						fa-eye"></i></button>

									</div>

									{% endif %}
									<div class="card-footer" style="text-align:center;">
										<button type="submit" name="submit" class="btn btn-primary" data-toggle="modal"
											data-target="#exampleModalScrollable" class="btn btn-primary mr-2">Back To
											all Customers </button>
									</div>

								</div>
							</form>
						</div>


						<div class="tab-pane fade" id="kt_tab_pane_2" role="tabpanel" aria-labelledby="kt_tab_pane_2">
							<div class="card-body">
								<table class="table table-separate table-head-custom table-checkable responsive" id="metarial">
									<thead>
			
			
			
										<tr>
											<th>#</th>
											<th>Customer</th>
											<th>From</th>
											<th>To</th>
											<th>Transporter</th>
											<th>Order Details </th>
											<th>Order Status From User</th>
											<th>Order Status </th>
											<th>Order Chats </th>
										</tr>
									</thead>
			
			
									<tbody>
									  
										{% for data in OrderData %}
										{% load post_tag %}
										<tr>
											<th>{{forloop.counter}}</th>
											<th>
												
												<a href="View-User/{{ data.userId | encoder }}" class="symbol symbol-lg-35 symbol-25 symbol-light-success">
													<img src="{{data.userpic}}" style="width: 40px;border-radius: 10px;">
												 
												</a>
			
												<br>
												<span class="symbol symbol-lg-35 symbol-25 symbol-light-success">
												{{data.firstname|title }} {{ data.lastname | title }} 
												</span>
			
											</th>
										   <th>{{data.fromcity|title }} </th>
											<th>{{data.tocity |title}}</th>
			
			
											<th>

                                
												{% if data.transporterId != '0' %}
											<a href="View-User/{{ data.transporterId| encoder }}" class="symbol symbol-lg-35 symbol-25 symbol-light-success">
		
								
												<img src="{{data.transporterpic}}" style="width: 40px;border-radius: 10px;">
											 
											</a>
										  
		
											   <br>
											<span class="symbol symbol-lg-35 symbol-25 symbol-light-success">
											{{data.transportername|title }} {{ data.transporterlastname | title }} 
											</span>
											{% else %}
		
											<span
													class="font-weight-bold "> The transporter has not yet accepted </span>
													{% endif %}
		
										</th>
									 
												<th> 
													<a href="Order-Details/{{ data.orderId | encoder }}"  style="width: 30px; height: 30px; margin-right: 5px;"
													title="View details"
													data-toggle="tooltip"
													data-theme="dark"
													data-placement="right"
													class="btn btn-icon btn-success"
												  >
													<i class="fa fa-eye"></i>
												  </a>
			
												</th>
									
												
												{% if data.statusFromUser == 0 %}
												<th>
													<span
														class="label label-lg font-weight-bold label-light-primary label-inline">Pending</span>
												</th>
												{% elif data.statusFromUser == 1 %}
				
				
												<th>
													<span
														class="label label-lg font-weight-bold label-light-success label-inline">Accepted</span>
												</th>
												{% elif data.statusFromUser == 2 %}
				
				
												<th>
													<span
														class="label label-lg font-weight-bold label-light-Warning label-inline">Cancelled</span>
												</th>
												{% endif %}
			
			
			
			
												<!--  -->
			
												{% if data.OrderStatus == 0 %}
												<th>
													<span
														class="label label-lg font-weight-bold label-light-primary label-inline">Pending</span>
												</th>
												{% elif data.OrderStatus == 1 %}
				
				
												<th>
													<span
														class="label label-lg font-weight-bold label-light-info label-inline">Running</span>
												</th>
												{% elif data.OrderStatus == 2 %}
				
				
												<th>
													<span
														class="label label-lg font-weight-bold label-light-success label-inline">delivared</span>
												</th>
			
												{% elif data.OrderStatus == 3 %}
				
				
												<th>
													<span
														class="label label-lg font-weight-bold label-light-warning label-inline">Rejected</span>
												</th>
												{% endif %}
											
											
										        
												<th> 
													<a href="Order-chats/{{ data.orderId | encoder }}"  style="width: 30px; height: 30px; margin-right: 5px;"
													title="View details"
													data-toggle="tooltip"
													data-theme="dark"
													data-placement="right"
													class="btn btn-icon btn-info"
												  >
												  <i class="fa fa-comment"></i>
												  </a>
			
												</th>
										 
			
									  
										</tr>
										{% endfor %}
			
									</tbody>
			
								</table>
							</div>

						</div>
						<div class="tab-pane fade" id="kt_tab_pane_3" role="tabpanel" aria-labelledby="kt_tab_pane_3">
							Tab content 4</div>
						<div class="tab-pane fade" id="kt_tab_pane_4" role="tabpanel" aria-labelledby="kt_tab_pane_4">
							Tab content 5</div>
					</div>







				</div>
			</div>

		</div>

	</div>

	{% endfor%}

</div>


{% include "footer.html" %}

<script src="static/assets/plugins/custom/datatables/datatables.bundle.js"></script>
<script src="static/assets/js/pages/crud/datatables/basic/scrollable.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.1.9/sweetalert2.min.css"
	integrity="sha512-cyIcYOviYhF0bHIhzXWJQ/7xnaBuIIOecYoPZBgJHQKFPo+TOBA+BY1EnTpmM8yKDU4ZdI3UGccNGCEUdfbBqw=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.1.9/sweetalert2.all.min.js"
	integrity="sha512-IZ95TbsPTDl3eT5GwqTJH/14xZ2feLEGJRbII6bRKtE/HC6x3N4cHye7yyikadgAsuiddCY2+6gMntpVHL1gHw=="
	crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script type="text/javascript">

	function WatchDocument(Name) {
		Swal.fire({
			imageUrl: Name,
			imageHeight: 400,
			imageAlt: 'A tall image'
		})
	}

	$(document).ready(function () {
		$('#metarial').dataTable({
		});
	});
	var avatar1 = new KTImageInput('kt_image_1');
</script>